#box {
    width: 500px;
    height: 500px;
    background-color: darkred;
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}

#box:hover {
    width: 250px;
    height: 250px;
    background-color: yellow;
    border-radius: 50%;
}
